<div class="container">
    <div class="row pb-2">
        <div class="col-md-3">
			<div class="d-grid gap-2">
                <button [routerLink]="['/create-item/']" class="btn btn-primary">New Item</button>
            </div>
        </div>
    </div>  
    <div class="row">
        <div class="col-md-12">
            <input 
            #query
            (keyup)="filter(query.value)"
            type="text" class="form-control" placeholder="Search...">
        </div>    
    </div>
    <div class="row">
        <div class="col-md-12 ">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Item</th>
                        <th scope="col">Part Number</th>
                        <th scope="col">Price</th>
                        <th scope="col">Location</th>
                        <th scope="col">Manufacturer</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of filteredItems">
                        <td>{{item.id+1}}</td>
                        <td><a [routerLink]="['/item/',item.id]" style="text-decoration: none;">{{ item.name }}</a></td>
                        <td>{{ item.part_number}}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.location }}</td>
                        <td>{{ item.manufacturer }}</td>
                        <td><a [routerLink]="['/item/edit',item.id]" style="text-decoration: none;"> Edit</a></td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-between">
                <ngb-pagination
                    [collectionSize]="collectionSize"
                    [(page)]="page"
                    [pageSize]="pageSize"
                    (pageChange)="refreshItems()"
                >
                </ngb-pagination>
            
                <select class="form-select" style="width: auto ; height: 50px;" [(ngModel)]="pageSize" (ngModelChange)="refreshItems()">
                    <option disabled>10</option>
                    <option [ngValue]="15">15</option>
                    <option [ngValue]="30">30</option>
                    <option [ngValue]="6">6</option>
                </select>
            </div>
            
        </div>
    </div>
</div>